<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=qdm-010.hichina.com;Port=3306;Initial Catalog=qdm0100245_db;uid=qdm0100245;pwd=12345678;Pooling=true;MAX Pool Size=256;Min Pool Size=1;"  providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
