@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>首页</h2>



<table>
    <tr><td><a href="/Users/" target="_blank">Users</a></td></tr>

    <tr><td><a href="/UserInfo/" target="_blank">UserInfo</a></td></tr>
</table>