<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac  defaultAssembly="DapperExtensions.Demo.Web">
    <components>
      <!--DBSession-->
      
      <component  type="HY.DataAccess.Database,HY.DataAccess" service="HY.DataAccess.IDatabase,HY.DataAccess">
        <parameters>
          <parameter name="connKey" value="DefaultConnection"  />
        </parameters>
      </component>
      <component  type="HY.DataAccess.DBSessionBase,HY.DataAccess" service="HY.DataAccess.IDBSession,HY.DataAccess"></component>
     
      <!--DBSession-->


      <!--SqlHelper-->
      <component  type="HY.DataAccess.SqlDBHelper.DBAdaptor,HY.DataAccess" service="HY.DataAccess.IDBHelper,HY.DataAccess"  instance-scope="single-instance"   >
        <parameters>
          <parameter name="connKey" value="DefaultConnection"  />
        </parameters>
      </component>
      <!--SqlHelper-->

      <!--缓存操作适配-->
      <!--
      <component type="HY.Caching.RuntimeCache,HY.Caching"  service="HY.Caching.ICache,HY.Caching"  instance-scope="single-instance"  ></component>
      -->
      <!--缓存操作适配-->
      <!--

      -->
      <!--日志配置-->
      <!--
      <component  type="HY.Log.NormalLog,HY.Log" service="HY.Log.ILog,HY.Log"  instance-scope="single-instance"   >
        <parameters>
          <parameter name="loggerName" value="LogInfoDB"  />
        </parameters>
      </component>
      -->
      <!--日志配置-->
      <!--

      -->
      <!--异常配置-->
      <!--
      <component  type="HY.ExceptionHandler.ExceptionManage,HY.ExceptionHandler"  service="HY.ExceptionHandler.ExceptionManage,HY.ExceptionHandler"  instance-scope="single-instance"  ></component>
      -->
      <!--异常配置-->

    </components>
  </autofac>
</configuration>


