<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=DapperExtensionsDemo;uid=sa;pwd=1qaz!QAZ;Pooling=true;MAX Pool Size=256;Min Pool Size=1"  providerName="System.Data.SqlClient" />
  <!--<add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Port=3306;Initial Catalog=hy;uid=root;pwd=123;Pooling=true;MAX Pool Size=256;Min Pool Size=1;"  providerName="MySql.Data.MySqlClient" />-->
</connectionStrings>
